# git #
.git*

# Node #
node_modules/

# Sub-modules #
lib/common/
lib/services/computeManagement/
lib/services/management/
lib/services/monitoring/
lib/services/networkManagement/
lib/services/scheduler/
lib/services/schedulerManagement/
lib/services/serviceBusManagement/
lib/services/sqlManagement/
lib/services/storageManagement/
lib/services/storeManagement/
lib/services/subscriptionManagement/
lib/services/webSiteManagement/
lib/services/webSiteManagement2/
lib/services/legacyStorage/
lib/services/serviceBus
lib/services/hdinsight

# Test folder #
test/

# Examples #
examples/blobuploader/
examples/blog/
examples/geophoto/
examples/helloruntime/
examples/myevents/
examples/serviceexplorer/
examples/servicemanagement/
examples/tasklist/

# Tools and dev scripts #
tools/
tasks/
scripts/
gruntfile.js

# Nuget packages #
.nuget/
packages/
packages.config
