<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Generator" version="1.0.5400.37276-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Compute.Specification" version="2.0.5427.16699-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.CloudServices.Specification" version="1.0.5427.16699-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Specification" version="1.0.5427.16700-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Sql.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Storage.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="3.0.5427.16702-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.WebSitesExtensions.Specification" version="3.0.5427.16704-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.Management.Store.Specification" version="1.0.5427.16702-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Network.Specification" version="2.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Subscriptions.Specification" version="1.0.5427.16702-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Resources.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Gallery.Specification" version="1.0.5427.16700-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Monitoring.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.WebSites.Specification" version="2.0.5427.16702-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Authorization.Specification" version="1.0.5427.16704-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Azure.Graph.RBAC.Specification" version="1.0.5427.16705-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
</packages>
