<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hydra.Generator" version="1.0.5414.5153-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Compute.Specification" version="2.0.5421.22369-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler.Specification" version="1.0.5421.22370-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.CloudServices.Specification" version="1.0.5421.22369-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Specification" version="1.0.5421.22370-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Sql.Specification" version="1.0.5421.22371-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Storage.Specification" version="1.0.5421.22371-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="3.0.5421.22372-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.WebSitesExtensions.Specification" version="3.0.5421.22375-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.WindowsAzure.Management.Store.Specification" version="1.0.5421.22371-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Network.Specification" version="2.0.5421.22370-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus.Specification" version="1.0.5421.22371-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Subscriptions.Specification" version="1.0.5421.22371-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Resources.Specification" version="1.0.5421.22370-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Gallery.Specification" version="1.0.5421.22370-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Monitoring2.Specification" version="1.0.5352.5316-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.WebSites.Specification" version="2.0.5421.22372-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Authorization.Specification" version="1.0.5421.22375-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
  <package id="Microsoft.Azure.Graph.RBAC.Specification" version="1.0.5421.22377-prerelease" targetFramework="portable-net45+sl50+win+wp80" />
</packages>
