<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <img id="azure-logo" width="200" src="/img/azure-logo.png">
      <h1 id="page-title">Service Explorer</h1>
    </div>

  <div class="row">
    <form name="setupForm" id="setupForm" action="setupPOST" method="post" enctype="multipart/form-data">
      <fieldset>
        <label for="account">Storage Account</label>
        <br />
        <input type="text" name="account" id="account" />
        <br />

        <label for="accessKey">Storage Access Key</label>
        <br />
        <input type="text" name="accessKey" id="accessKey" />
        <br />

        <label for="WaRuntimeEndpoint">Windows Azure Runtime Endpoint</label>
        <br />
        <input type="text" name="WaRuntimeEndpoint" id="WaRuntimeEndpoint" />
        <br />

        <div class="form-actions">
          <input type="submit" class="btn" />
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- /container -->