.hero-unit #azure-logo {
  float:  left;
  margin-right: 50px;
  vertical-align: top;
}

.hero-unit #page-title {
  margin-top: 20px;
}

.row {
  margin-left: 0px;
}

.backBtn {
}

.role {
  float: left;
  margin-right: 40px;
}

.indexDescription {
  padding-top: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btnDetails {
}

#properties {
  text-align: center;
}

.roleImg {
  width: 100px;
  height: 100px;
}