trigger:
  - master

variables:
  node.version: '10.x'
  build.path: 'lib/services/keyVault'

jobs:
  - job: 'Publish'

    pool:
      vmImage: 'ubuntu-16.04'

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(node.version)'
        displayName: 'Install Node.js $(node.version)'

      - task: Npm@1
        inputs:
          command: 'install'
          workingDir: '$(build.path)'
        displayName: 'npm install'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'pack'
          workingDir: '$(build.path)'
        displayName: 'npm pack'

      - task: CopyFiles@2
        inputs:
          sourceFolder: '$(build.path)'
          contents: '*.tgz'
          targetFolder: $(Build.ArtifactStagingDirectory)
        displayName: 'Copy Package'

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Package'

  - job: 'Audit'

    pool:
      vmImage: 'ubuntu-16.04'

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(node.version)'
        displayName: 'Install Node.js $(node.version)'

      - powershell: "cd $(build.path); npm audit --json | ConvertFrom-Json | Select-Object  -expandProperty 'metadata' | select-object -expandproperty 'vulnerabilities' | %{ if ($_.low + $_.moderate + $_.high + $_.critical -ne 0) { write-error 'FAILED! Your package has vulnerabilities. Check npm audit' }}"
        displayName: 'npm audit'

      - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
        displayName: 'Component Detection'
        condition: succeededOrFailed()

  - template: client.test.yml
    parameters:
      name: Linux
      vmImage: 'ubuntu-16.04'

  - template: client.test.yml
    parameters:
      name: macOS
      vmImage: 'macOS-10.13'

  - template: client.test.yml
    parameters:
      name: Windows
      vmImage: 'vs2017-win2016'

